<ion-view view-title="Allied Sizing App - Home">
  <ion-content>
    <div class="row">
      <div class="col new-project-bg">
        <p class="text-center">
          <img width="150px" src="img/hvac-pro-to_go-logo.png" alt="Allied HVAC Pro To Go App" />
        </p>

        <div class="row">
          <div class="col">
            <p class="text-center"><img width="150px" src="img/Allied-Air-Enterprises-logo.png" alt="Allied Air Enterprises" /></p>
            <hr class="below-logo-hr"/>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="white-borderd-box">
              <a href="#/app/browse"><i class="icon ion-plus-circled"></i> Start A New Job</a>
            </div>

            <div class="white-borderd-box">
              <a href="#/app/playlists"><i class="icon ion-plus-circled"></i> Previous Work</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
