<ion-view view-title="Allied Sizing App | Home">
  <ion-content>
    <div class="row">
      <div class="col col-50 new-project-bg">
        <div class="white-borderd-box">
          <a href="#"><i class="icon ion-plus-circled"></i> Start A New Project</a>
        </div>
      </div>

      <div class="col previous-project-bg">
        <div class="white-borderd-box">
          <a href="#"><i class="icon ion-plus-circled"></i> View Previous Projects</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
